$base-font-family: $source-sans-pro-font !default;
$base-font-weight: $regular !default;
$base-font-size: 14px !default;

$base-window-width: 100% !default;
$base-window-height: 600px !default;
$base-message-max-width: 200px !default;